<script type="application/ld+json">
    {{json data}}
</script>

{{> table.hbs data}}

{{#parameters.date}}
    <p>{{i18n data.identifier . locale=language}}</p>
{{/parameters.date}}

{{#parameters.relatedURL}}
    <p>{{{i18n data.identifier . locale=language}}}</p>
{{/parameters.relatedURL}}

<p>{{{i18n "Disclaimer" locale=language}}}</p>
